/* Global */
* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    position: relative;
}
#header {
    height: 100vh;
    width: 15%;
    min-width: 300px;
    position: fixed;
    left: 0;
    background-color: #010b75f7;
}
#avatar {
    position: absolute;
    top: 10px;
    margin-top: 35px;
    margin-left:28px;
    width: 240px;
    border-radius: 50%;
}
#role-title {
    position: absolute;
    top: 400px;
    left: 30px;
    color:white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
#name-plate {
    position: absolute;
    top: 340px;
    left: 13px;
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
#navbar {
    text-align: center;
    margin-top: 500px;
}
.anchor-item {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin-top: 20px;
    list-style: none;
}
.nav-item {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.nav-item:hover {
    text-shadow: 0 0 10px white;
    transform: translate(0, -3px);
  }
#tIcon {
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
}
#lIcon {
    position: absolute;
    margin-top: 40px;
    margin-left: 125px;
}
#gIcon {
    position: absolute;
    margin-top: 40px;
    margin-left: 200px;
}
/* Header */

/* About */
#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    padding: 10px;
    height: 100vh;
    /* width: 85%; */
}
#about-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
    margin-top: 10px;
    width: 70%;
    text-align: justify;
}
#about-title {
    width:100%;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #010b75f7;
    margin-top: 20px;
    text-align: center;
}

