/* Global */
* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display:flex;
    flex-direction: column;
}
#header {
    height: 100vh;
    width: 15%;
    min-width: 300px;
    position: fixed;
    left: 0;
    background-color: #010b75cb;
}
#avatar {
    margin-top: 50px;
    margin-left: 18px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid white;
}
#role-title {
    margin-top: 8px;
    margin-left: 30px;
    color:white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
#name-plate {
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
#navbar {
    text-align: center;
}
.anchor-item {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin-top: 20px;
    list-style: none;
}
.nav-item {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.nav-item:hover {
    text-shadow: 0 0 10px white;
    transform: translate(0, -3px);
  }

#icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

#name {
    color: #010b75f7;
    font-weight:500
}
/* Header */

/* About */
#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    padding: 10px;
    height: 100vh;
}
#about-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
    margin-top: 10px;
    width: 70%;
    text-align: justify;
}
#about-title {
    width:100%;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #010b75f7;
    margin-top: 20px;
    text-align: center;
}
#profile-pic {
    width: 300px;
    border-radius: 12px;
}
#about-text-pic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-width: 200px;
    margin-top: 50px;
}
/* About */

/* Portfolio */
#portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 315px;
    padding: 10px;
    height: 100vh;
    background-color: #010b7597;
}

#portfolio-title {
    width:100%;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    text-align: center;
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-width: 200px;
    margin-top: 50px;
}

#dailydose {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dailydose {
    border-radius: 12px;
    width: 350px;
    height: 330px;
}

#dailydose-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
    margin-top: 10px;
    width: 70%;
    text-align: justify;
}

