* {
    margin: 0;
    padding: 0;
}


header {
    position: relative;
}

#header {
    height: 100vh;
    width: 25%;
    min-width: 500px;
    position: fixed;
    left: 0;
    background-color: #010b75f7;
}

#avatar {
    position: absolute;
    top: 10px;
    margin-top: 20px;
    margin-left: 95px;
    width: 290px;
    border-radius: 50%;
}

#role-title {
    position: absolute;
    top: 400px;
    left: 112px;
    color:white;
    font-size: 25px;
}

#name-plate {
    position: absolute;
    top: 340px;
    left: 125px;
    color: white;
    font-size: 40px;
}

#navbar {
    text-align: center;
    margin-top: 500px;
}

.anchor-item {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    list-style: none;
}
.nav-item {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    text-shadow: 0 0 10px white;
    transform: translate(0, -2px);
    font-size: 35px;
  }
